html, body {
    background-color: #808080;
    height: 98%;
}

#gameScreen {
    background-image: url("../img/landscape.jpg");
    background-size: cover;
    min-height: 90%;
    width: 80%;
    margin: auto;
    cursor: crosshair;
}

#duck {
    width: 50px;
    height: 50px;
    position: relative;
    left: 100px;
    top: 100px;
    visibility: hidden;
}

div.notdestroyed {
    background-image: url("../img/ufo.png");
    background-size: 50px;
}

div.destroyed {
    background-image: url("../img/ufo_destroyed.png");
    background-size: 50px;
}

#explosion {
    background-image: url("../img/explosion.png");
    background-size: 50px;
    width: 50px;
    height: 50px;
    position: relative;
    left: 0px;
    right: 0px;
    visibility: hidden;
}

#bottomBar {
    padding-top: 20px;
    min-height: 10%;
    text-align: center;
}

#energyBar {
    background-color: cornflowerblue;
    position: relative;
    margin: auto;
    vertical-align: top;
    width: 80%;
    font-weight: bold;
}

.collapsedBar {
    display: none;
}

.visibleBar {
    visibility: visible;
}

.btn {
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    background: #60676b;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
}
.btn:hover {
     background: #3cb0fd;
     text-decoration: none;
}
